*{
  margin:0;
  padding:0;
}
ul,li{
  list-style:none;
}
html{
  font-size:100px;
}
body{
  background:#f4f4f6;
  font-size:16px;
}
@font-face{
  font-family:"iconfont";
  src:url(../font/iconfont.woff)
}
.icon-font{
  font-family:"iconfont" !important;
}
.icon-leimu:before { content: "\e78e"; }

////////$device-size设计图的尺寸
@mixin useRem($device-size){
  $device-size-list:320px,360px,375px,380px,411px,412px,414px,$device-size;
  @each $size in $device-size-list{
    @media screen and (min-width:#{$size}){
      html{
        font-size:100px*$size/$device-size;
      }
    }
  }
}
@include useRem(1080px);
%juzhong{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}
%lr-juzhong{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}
//banner开始
.swiper-container{
  height:5.25rem;
  img{
    height:100%;
  }
  .swiper-pagination-bullet{
    border:1px solid rgba(0,0,0,.6)
  }
}
//banner结束
//分类开始
.fenlei{
  height:3.73rem;
  cursor:pointer;
  background:#fff;
  .fenlei-top,.fenlei-bottom{
    height:1.86rem;
    .icon{
      width:2.16rem;
      height:1.86rem;
      float:left;
      .icon-img{
        height:0.94rem;
        padding-top:0.2rem;
        position:relative;
        img{
          width:0.95rem;
          height:0.95rem;
          @extend %lr-juzhong;
        }
      }
      .icon-font{
        height:0.68rem;
        line-height:0.68rem;
        font-size:0.30rem;
        text-align:center;
      }
    }
  }
}
//分类结束
//热点开始
.redian{
  background:#fff;
  height:1.42rem;
  .left{
    height:100%;
    width:1.75rem;
    position:relative;
    float:left;
    img{
    width:1.36rem;
    height:1rem;
      @extend %juzhong;
    }
  }
  .middle{
    width:1rem;
    height:100%;
    position:relative;
    float:left;
    img{
      width:0.6rem;
      height:0.6rem;
      @extend %juzhong;
    }
  }
  .right{
    width:8rem;
    height:100%;
    float:left;
    font-size:0.31rem;
    #two {
      height: 100%;
      .top {
        height: 0.54rem;
        line-height: 0.54rem;
      }
      .bottom {
        height: 0.47rem;
        line-height: 0.47rem;
        color: #ff2f2f;
      }
    }
  }
}
//热点结束
//第三次轮播开始
.zhibo{
  background:#fff;
  height:2.71rem;
  .img-box{
    width:4.54rem;
    height:2.74rem;
    float:left;
    margin:0 0.07rem;
  }
}
//第三次轮播结束
//必抢开始
a{
  text-decoration:none;
}
.biqiang{
  height:0.78rem;
  position:relative;
  color:#f82b18;
  .biqiang-box{
    width:4.9rem;
    height:0.7rem;
    @extend %juzhong;
    .one-left{
    background:#f82b18;
    width:0.9rem;
    height:2px;
    float:left;
    margin:0.36rem 0 0.36rem 0;
    }
    .img-box{
      float:left;
      width:0.4rem;
      height:0.4rem;
      margin: 0.15rem 0.11rem 0.19rem 0.11rem;
      img{
      width:0.4rem;
      height:0.4rem;
      }
    }
    .zi{
     height:100%;
     line-height:0.7rem;
      float:left;
    }
    .one-right{
      background:#f82b18;
      width:0.9rem;
      height:2px;
      float:left;
      margin:0.36rem 0 0.36rem 0.11rem;
    }
  }
}
.content1{
    height:7.61rem;
  .top{
    background:#fff;
    height:3.78rem;
    a {
      color:#000;
      display: block;
      width: 2.7rem;
      height: 3.78rem;
      float: left;
      border-right:1px solid #f4f4f6;
      border-bottom:1px solid #f4f4f6;
      box-sizing:border-box;
      .title {
        width: 2.7rem;
        height: 0.68rem;
        line-height: 0.68rem;
        text-align: center;
      }
      .img-box{
        height:2.29rem;
        position:relative;
        img{
          width:1.75rem;
          height:1.75rem;
          @extend %juzhong;
          margin:auto;
        }
      }
      .price{
        height:0.85rem;
        .left{
          width:1rem;
          height:0.85rem;
          line-height:0.85rem;
          float:left;
          padding-left:0.27rem;
        }
        .right{
          color:#9b9b9b;
          margin-left:0.02rem;
          width:1.36rem;
          height:100%;
          float:left;
          line-height:0.85rem;
          text-decoration:line-through;

        }
      }
    }
    .none{
      border-bottom:0;
    }
  }

}
//必抢结束
//品牌特卖开始
.content2{
  height:3.19rem;
  img{
    width:5.37rem;
    float:left;
  }
  .img{
    margin-right:0.04rem;
  }

}
//品牌特卖结束
//品牌资讯开始
.content3{
  height:5rem;
  img{
    height:5rem;
    float:left;
    margin-right:0.04rem;
  }
}
.content3-img{
  width:10.8rem;
  height:2.96rem;
  img{
    width:10.8rem;
    height:2.96rem;
  }
}
//品牌资讯结束
//便捷生活开始
.content4{
  height:4.24rem;
  .left{
    width:4.76rem;
    height:100%;
    float:left;
    img{
      width:4.73rem;
    }
  }
  .right{
    width:5.96rem;
    height:100%;
    float:left;
    margin-left:0.04rem;
  img{
    width:5.97rem;
  }
  }
}
//便捷生活结束
//<!--国际海购开始-->
.content5{
  height:4.22rem;
  img{
    width:3.58rem;
    float:left;
    margin-right:0.03rem;
  }
}
//<!--国际海购结束-->
//<!--精选市场开始-->
.content6{
  height:6.9rem;
  .top{
    height:3.75rem;
    img{
       width:2.61rem;
       float:left;
       margin-right:0.1rem;
     }
  }
  .bottom{
    border-top:1px solid #eee;
    height:3.15rem;
    img{
      height:3.15rem;
      float:left;
      margin-right:0.05rem;
    }
  }
}
//<!--精选市场结束-->
//爱生活开始
.content7{
  height:4rem;
  img{
    height:4rem;
    float:left;
    margin-right:0.03rem;
  }
}
//爱生活结束
//潮流酷玩开始
.content8{
  height:4.35rem;
  img{
    height:4.35rem;
    float:left;
    margin-right:0.03rem;

  }
}
//潮流酷玩结束
//热门行业开始
.content9{
  height:9.65rem;
  .top{
    height:2.6rem;
    background:#fff;
    .left{
      height:100%;
      width:5.4rem;
      float:left;
      .title-con{
        height:100%;
        width:2.7rem;
        position:relative;
        font-size:0.35rem;
        float:left;
        .title{
         text-align:center;
          padding-top:0.07rem;
        }
        .sub-title{
          padding-top:0.07rem;
          color:#9B9B9B;
          text-align:center;
        }
        img{
          position:absolute;
          left:0;
          right:0;
          margin:0 auto;
          width:0.36rem;
          height:0.36rem;

        }
      }
      .img-con {
        height:100%;
        width:2.7rem;
        float:left;
        position:relative;
        img{
          @extend %juzhong;
        width:2.6rem;
        height:2.6rem;
         }
      }
    }
  }
  .middle{
    background:#fff;
    height:3.47rem;
    .title-con{

      height:100%;
      width:2.7rem;
      position:relative;
      font-size:0.35rem;
      float:left;
      .title{
        text-align:center;
        padding-top:0.07rem;
      }
      .sub-title{
        padding-top:0.07rem;
        color:#9B9B9B;
        text-align:center;
      }
      img{
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        width:2.66rem;
        height:2.17rem;

      }
    }
  }
  .bottom{
    height:3.44rem;
  }
}
//热门行业结束
//<!--品牌旗舰开始-->
.content10{
  height: 12.51rem;
  .top{
    height:4.44rem;
    margin-top:0.1rem;
    .left{
      background:#fff;
      width:5.24rem;
      height:100%;
      float:left;
      margin-left:0.13rem;
      .shop{
        height:3.5rem;
        .img-shop-pic1{
          width:3.46rem;
          float:left;
          margin-right:0.05rem;
        }
        .img-shop-pic2{
          width:1.67rem;
          margin-top:0.03rem;
        }
      }
      .con{
        height:0.88rem;
        position:relative;
        .logo{
          position:absolute;
          top:0;
          bottom:0;
          margin:auto 0;
          width:0.6rem;
          float:left;
        }
        .font{
          float:right;
          height:100%;
          width:4.4rem;
          .shop-name{
            font-size:0.31rem;
            margin-top:0.1rem;
          }
          .shop-desc{
            font-size:0.28rem;
            color:#9B9B9B;
          }
        }
      }
    }

  }
  .middle{
    margin-top:0.1rem;
    background:#fff;
    height:3.47rem;
    .title-con{

      height:100%;
      width:2.7rem;
      position:relative;
      font-size:0.35rem;
      float:left;
      .title{
        text-align:center;
        padding-top:0.07rem;
      }
      .sub-title{
        padding-top:0.07rem;
        color:#9B9B9B;
        text-align:center;
      }
      img{
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        width:2.66rem;
        height:2.17rem;

      }
    }
  }

  }
//<!--品牌旗舰结束-->
//header开始
.header{
  width: 100%;
  height:1.05rem;
  background:-webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
  position:fixed;
  z-index: 10;
  a{
    color:#fff;
    display:block;
    width:0.75rem;
    height:1.05rem;
    float:left;
    font-size:0.75rem;
    padding-top:0.1rem;
    margin-left:0.4rem;
  }
  input{
    border-radius:4px;
    border:0;
    margin-left:0.2rem;
    margin-top:0.1rem;
    float:left;
    width:7.61rem;
    height:0.85rem;
    background:#eee6f1;
    color:#8e8d92;
  }
  .login{
    display:block;
    width:0.75rem;
    height:1.05rem;
    font-size:0.28rem;
    margin-top:0.2rem;
    margin-left:0.2rem;

  }
}
//header结束
///导航开始

.daohang{
  width:100%;
  height:100%;
  position:fixed;
  z-index: 12;
  top:0;
  left:0;
  transition:transform .8s ease;
  transform:translate3d(-100%,0,0);
  //display:none;
  &.enter{
    transform:translate3d(0,0,0);
  }
  .left{
    width:9.88rem;
    height:100%;
    background:green;
    float:left;
    .top{
      height:1.24rem;
      line-height:1.24rem;
      padding-left:0.4rem;
      background:#eee;
    }
    .bottom{
      width:100%;
      height:100%;
      background:pink;
      .list{
        height:100%;
        width:2.28rem;
        background:green;
        over-flow:hidden;
        float:left;
        li{
          height:1.5rem;
          background:#eee;
          line-height:1.5rem;
          text-align:center;

        }

      }
      .list-box{
        float:left;
        height:100%;
        width:7.6rem;
        background:#fff;
        li{
          width:100%;
          height:100%;
          .tab-list{
            width:7.64rem;
            height:6.89rem;
            h3{
              font-size:14px;
              color:#9B9B9B;
              padding:15px 0;
              line-height:14px;
            }
            ul{
              width:100%;
              height:5.54rem;
              li{
                width:2.54rem;
                height:2.77rem;
                float:left;
                .img-box{
                  width:100%;
                  height:2rem;
                  position:relative;
                  img{
                    position:absolute;
                    left:0;
                    right:0;
                    margin:0 auto;
                    width:2rem;
                    height:2rem;
                  }
                }
                div{
                  padding:2px 0;
                  text-align:center;
                  color:#5D5D5D;

                }

              }
            }
          }
        }
      }
    }
  }
  .right{
    width:0.92rem;
    height:100%;
    background:rgba(0,0,0,0.6);
    float:left;
    text-align:center;
    padding-top:7rem;
  }
}
//导航结束